n8n-workflow.json
{
  "name": "Store Featured вҖ“ Reporting Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "store-featured-report",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook",
      "name": "рҹ”— Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "store-featured-report"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst COUNTRIES = ['KR','TW','JP','US','TH'];\nconst CC = {KR:'рҹҮ°рҹҮ· н•ңкөӯ',TW:'рҹҮ№рҹҮј лҢҖл§Ң',JP:'рҹҮҜрҹҮө мқјліё',US:'рҹҮәрҹҮё лҜёкөӯ',TH:'рҹҮ№рҹҮӯ нғңкөӯ'};\n\nconst NX = ['nexon','nexon company','nexon corporation','nexon korea',\n  'nexon korea corporation','nexon games','neople','neople inc',\n  'toben studio','toben studio inc','nexon gt','embark studios',\n  'nat games','mintrocket'];\nfunction isNX(dev) {\n  if (!dev) return false;\n  const dl = dev.toLowerCase().trim();\n  return NX.some(nx => dl.includes(nx));\n}\n\nconst allNexon = [];\nconst summaries = [];\nconst genreStats = {};\nlet totalApple = 0, totalGoogle = 0;\n\nfor (const cc of COUNTRIES) {\n  const d = body.countries?.[cc];\n  if (!d || d.error) { summaries.push({cc, name:CC[cc], error: d?.error||'no data'}); continue; }\n  const apple = d.apple || [], google = d.google || [];\n  totalApple += apple.length;\n  totalGoogle += google.length;\n  const nxA = apple.filter(a => a.nexon || isNX(a.dev));\n  const nxG = google.filter(a => a.nexon || isNX(a.dev));\n  nxA.forEach(a => allNexon.push({...a, country:cc, store:'apple'}));\n  nxG.forEach(a => allNexon.push({...a, country:cc, store:'google'}));\n  const aSet = new Set(apple.map(a=>(a.name||'').toLowerCase()));\n  const gSet = new Set(google.map(a=>(a.name||'').toLowerCase()));\n  const common = [...aSet].filter(n=>n&&gSet.has(n));\n  summaries.push({\n    cc, name:CC[cc],\n    apple:apple.length, google:google.length,\n    nxApple:nxA.length, nxGoogle:nxG.length,\n    common:common.length,\n    appleBanners:apple.filter(a=>a.banner).length,\n    googleBanners:google.filter(a=>a.banner).length\n  });\n  [...apple,...google].forEach(a => { if(a.genre) genreStats[a.genre]=(genreStats[a.genre]||0)+1; });\n}\n\nconst nxMap = {};\nallNexon.forEach(a => {\n  const key = (a.name||'').toLowerCase().replace(/[в„ў:пјҡ\\s]/g,'');\n  if (!nxMap[key]) nxMap[key] = {...a, countries:new Set(), stores:new Set()};\n  nxMap[key].countries.add(a.country);\n  nxMap[key].stores.add(a.store);\n});\nconst nexonList = Object.values(nxMap).map(a=>({\n  name:a.name, dev:a.dev, rank:a.rank,\n  countries:[...a.countries], stores:[...a.stores],\n  banner:a.banner, genre:a.genre||'',\n  bothStores:a.stores.size>=2\n}));\n\nconst topGenres = Object.entries(genreStats)\n  .sort((a,b)=>b[1]-a[1]).slice(0,5)\n  .map(([genre,count])=>({genre,count}));\n\n/* лҰ¬нҸ¬нҠё нҺҳмқҙм§Җ ліёл¬ё мғқм„ұ */\nconst summaryText = summaries.filter(s=>!s.error).map(s =>\n  s.name+' вҖ” AS '+s.apple+' (л°°л„Ҳ '+s.appleBanners+') / GP '+s.google+' (л°°л„Ҳ '+s.googleBanners+') / NX: AS '+s.nxApple+' GP '+s.nxGoogle\n).join('\\n');\n\nconst nexonText = nexonList.length ? nexonList.map(n => {\n  const st = n.stores.map(s=>s==='apple'?'рҹҚҺAS':'рҹҹўGP').join(' ');\n  const fl = n.countries.map(c=>({KR:'рҹҮ°рҹҮ·',TW:'рҹҮ№рҹҮј',JP:'рҹҮҜрҹҮө',US:'рҹҮәрҹҮё',TH:'рҹҮ№рҹҮӯ'}[c]||c)).join(' ');\n  const tags = [];\n  if(n.banner) tags.push('рҹ”Ҙл°°л„Ҳ');\n  if(n.bothStores) tags.push('вҡЎм–‘мӘҪ');\n  return n.name+' вҖ” '+st+' | '+fl+' | #'+n.rank+' '+tags.join(' ');\n}).join('\\n') : 'н”јміҗл“ң м—ҶмқҢ';\n\nconst genreText = topGenres.map(g => g.genre+': '+g.count+'к°ң').join('\\n');\n\nconst reportMarkdown = '## рҹ“Ҡ көӯк°Җлі„ нҳ„нҷ©\\n\\n'+summaryText+'\\n\\n## рҹҺҜ NEXON н”јміҗл“ң ('+nexonList.length+'к°ң)\\n\\n'+nexonText+'\\n\\n## рҹ“Ҳ мһҘлҘҙ Top 5\\n\\n'+genreText;\n\nreturn [{\n  json: {\n    date: body.date || new Date().toISOString().slice(0,10),\n    totalApple, totalGoogle, summaries, nexonList,\n    nexonCount: nexonList.length,\n    hasNexon: nexonList.length > 0,\n    topGenres, summaryText, nexonText, genreText, reportMarkdown\n  }\n}];"
      },
      "id": "parse",
      "name": "рҹ“Ҡ Parse & Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "create",
        "databaseId": { "__rl": true, "mode": "id", "value": "={{ /* Notion DB ID вҖ” Credentialм—җм„ң мһҗлҸҷ мқёмӢқ */ 'м—¬кё°м—җ_NOTION_DB_ID_мһ…л Ҙ' }}" },
        "properties": {
          "values": [
            { "key": "м ңлӘ©",       "title": "={{ 'н”јміҗл“ң ' + $json.date }}" },
            { "key": "лӮ м§ң",       "type": "date", "date": "={{ $json.date }}" },
            { "key": "Apple мҲҳ",   "type": "number", "numberValue": "={{ $json.totalApple }}" },
            { "key": "Google мҲҳ",  "type": "number", "numberValue": "={{ $json.totalGoogle }}" },
            { "key": "NEXON мҲҳ",   "type": "number", "numberValue": "={{ $json.nexonCount }}" },
            { "key": "Top мһҘлҘҙ",   "type": "select", "selectValue": "={{ $json.topGenres[0]?.genre || 'N/A' }}" }
          ]
        }
      },
      "id": "notion-db",
      "name": "рҹ“қ Notion DB Log",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [740, 180],
      "credentials": { "notionApi": { "id": "CREDENTIAL_ID", "name": "Notion Integration" } },
      "onError": "continueRegularOutput",
      "notes": "Notion м»ӨмҠӨн…Җ л…ёл“ң вҖ” Notion-Version н—ӨлҚ” мһҗлҸҷ мІҳлҰ¬. DBм—җ Integration м—°кІ° н•„мҲҳ."
    },
    {
      "parameters": {
        "amount": 0.4
      },
      "id": "wait-1",
      "name": "вҸі Wait 400ms",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [920, 180],
      "notes": "Notion Rate Limit лҢҖмқ‘ (3 req/sec)"
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "create",
        "parentPageId": { "__rl": true, "mode": "id", "value": "={{ 'м—¬кё°м—җ_REPORT_PAGE_ID_мһ…л Ҙ' }}" },
        "title": "={{ 'рҹ“Ҳ н”јміҗл“ң лҰ¬нҸ¬нҠё ' + $json.date }}",
        "content": "={{ $json.reportMarkdown }}"
      },
      "id": "notion-report",
      "name": "рҹ“Ҳ Notion Report",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1100, 180],
      "credentials": { "notionApi": { "id": "CREDENTIAL_ID", "name": "Notion Integration" } },
      "onError": "continueRegularOutput",
      "notes": "лҰ¬нҸ¬нҠё л¶ҖлӘЁ нҺҳмқҙм§Җм—җ Integration м—°кІ° н•„мҲҳ. Notion-Version мһҗлҸҷ м„Өм •."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const d = $json;\n  const lines = d.summaries.filter(s=>!s.error).map(s=> s.name+' AS '+s.apple+' / GP '+s.google+' / NX '+(s.nxApple+s.nxGoogle)).join('\\n');\n  return JSON.stringify({\n    blocks: [\n      {type:'header',text:{type:'plain_text',text:'рҹ“Ҡ мқјмқј н”јміҗл“ң мҡ”м•Ҫ ('+d.date+')',emoji:true}},\n      {type:'section',text:{type:'mrkdwn',text:'рҹҚҺ App Store: *'+d.totalApple+'*к°ң  |  рҹҹў Google Play: *'+d.totalGoogle+'*к°ң\\nрҹҺҜ NEXON: *'+d.nexonCount+'*к°ң  |  рҹҸҶ Top мһҘлҘҙ: *'+(d.topGenres[0]?.genre||'-')+'*\\n\\n'+lines}},\n      {type:'actions',elements:[{type:'button',text:{type:'plain_text',text:'рҹ“Ҡ лҢҖмӢңліҙл“ң',emoji:true},url:'https://DASHBOARD_URL'}]}\n    ]\n  });\n})() }}"
      },
      "id": "slack-daily",
      "name": "рҹ“Ӣ Slack Daily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 420],
      "onError": "continueRegularOutput",
      "notes": "Slack Webhook URLмқҖ Credentialм—җм„ң м°ёмЎ°. мӣҢнҒ¬н”ҢлЎң JSONм—җ URL м§Ғм ‘ л…ём¶ңн•ҳм§Җ м•ҠмқҢ."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.hasNexon }}", "value2": true }
          ]
        }
      },
      "id": "nx-check",
      "name": "рҹ”Қ NEXON?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const d = $json;\n  const blocks = [\n    {type:'header',text:{type:'plain_text',text:'рҹҺ® NEXON н”јміҗл“ң м•ҢлҰј ('+d.date+')',emoji:true}},\n    {type:'section',text:{type:'mrkdwn',text:'*'+d.nexonCount+'к°ң NEXON нғҖмқҙнӢҖ* мҠӨнҶ м–ҙ н”јміҗл“ң л“ұмһҘ'}},\n    {type:'divider'}\n  ];\n  d.nexonList.forEach(n => {\n    const se = n.stores.map(s=>s==='apple'?'рҹҚҺ':'рҹҹў').join(' ');\n    const fl = n.countries.map(c=>({KR:'рҹҮ°рҹҮ·',TW:'рҹҮ№рҹҮј',JP:'рҹҮҜрҹҮө',US:'рҹҮәрҹҮё',TH:'рҹҮ№рҹҮӯ'}[c]||c)).join(' ');\n    const tags = [];\n    if(n.banner) tags.push('рҹ”Ҙ л°°л„Ҳ');\n    if(n.bothStores) tags.push('вҡЎ м–‘мӘҪ');\n    blocks.push({type:'section',text:{type:'mrkdwn',text:'*'+n.name+'* '+se+'\\n#'+n.rank+' | '+(n.genre||'-')+' | '+fl+(tags.length?'\\n'+tags.join(' В· '):'')}});\n  });\n  blocks.push({type:'divider'});\n  blocks.push({type:'actions',elements:[{type:'button',text:{type:'plain_text',text:'лҢҖмӢңліҙл“ң м—ҙкё°',emoji:true},url:'https://DASHBOARD_URL'}]});\n  return JSON.stringify({blocks});\n})() }}"
      },
      "id": "slack-nexon",
      "name": "рҹ”” Slack NEXON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 520],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'вқҢ Store Featured лҰ¬нҸ¬нҢ… м—җлҹ¬ л°ңмғқ: ' + ($json.error?.message || JSON.stringify($json).slice(0,200)) }) }}"
      },
      "id": "slack-error",
      "name": "вқҢ Error вҶ’ Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 700],
      "notes": "Error Workflow: м–ҙл–Ө л…ёл“ңм—җм„ңл“  м—җлҹ¬ л°ңмғқ мӢң SlackмңјлЎң м•ҢлҰј"
    }
  ],
  "connections": {
    "рҹ”— Webhook": {
      "main": [[ { "node": "рҹ“Ҡ Parse & Analyze", "type": "main", "index": 0 } ]]
    },
    "рҹ“Ҡ Parse & Analyze": {
      "main": [[
        { "node": "рҹ“қ Notion DB Log", "type": "main", "index": 0 },
        { "node": "рҹ“Ӣ Slack Daily", "type": "main", "index": 0 },
        { "node": "рҹ”Қ NEXON?", "type": "main", "index": 0 }
      ]]
    },
    "рҹ“қ Notion DB Log": {
      "main": [[ { "node": "вҸі Wait 400ms", "type": "main", "index": 0 } ]]
    },
    "вҸі Wait 400ms": {
      "main": [[ { "node": "рҹ“Ҳ Notion Report", "type": "main", "index": 0 } ]]
    },
    "рҹ”Қ NEXON?": {
      "main": [[ { "node": "рҹ”” Slack NEXON", "type": "main", "index": 0 } ], []]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "вқҢ Error вҶ’ Slack"
  }
}
